<div class='wrapper'><img
    class='flag'
    src='{{flags.svg}}'
    alt='{{name.official}}'
    width='30'
    height='20'
  />
  <h2>{{name.official}}</h2></div>
<ul>
  <li>Capital: {{capital}}</li>
  <li>Population: {{population}}</li>
  <li>Languages: {{#each languages}} {{.}}{{/each}}</li>
</ul>